#Contenedor
{
  width:1000px;
  /*background-color: #EDEDED;*/ 
}
#Cavesera
{
   height: 50px;
   width: 1000px;
   background-color: #066A9B;
}
#Info
{
   height: 50px;
   width: 1000px;
   background-color: #ECECFF;
}
#PanelIzquierdo
{
   height: 600px;
   width: 250px;
   background-color: ;
   margin-left: -750px;
   margin-top: ;
   border: 1px black none;
}
#PanelDerecho
{
   height: 600px;
   width: 750px;
   background-color: ;
   margin-top: -605px;
   margin-left: 250px;
   border: 1px black none;
   
}
#Opciones
{
  height: 420px;
  width: 230px;
  border: 1px #DCDCE6 solid;
  margin-top: 0px;
  border-radius: 8px;
}
#ContenedorMenu
{
  height: 30px;
  width: 230px;
  border: 1px black none;
  margin-top: 5px;
  border-radius: 8px;
}
#Expedientes
{
  height: 160px;
  width: 194px;
  border: 1px #DCDCE6 solid;
  border-radius: 8px;
  margin-top: 10px;
}
#Reportes
{
  height: 80px;
  width: 194px;
  border: 1px #DCDCE6 solid;
  border-radius: 8px;
  margin-top: 3px;
}
#Buscar
{
  height: 110px;
  width: 194px;
  border: 1px #DCDCE6 solid;
  border-radius: 8px;
  margin-top: 3px;
}
#APanelDerecho
{
   height: 30px;
   width: 730px;
   background-color: ; 
   border: 1px black none;
   border-radius: 8px;
   margin-top: 3px;
}
#BPanelDerecho
{
   height: 530px;
   width: 730px;
   background-color: ; 
   border: 1px #DCDCE6 solid;
   border-radius: 8px;
   margin-top: 1px;
}
#FormNuevoExpediente
{
   height: 200px;
   width: 710px;
   background-color: ; 
   border: 1px #DCDCE6 solid;
   border-radius: 8px;
}
#FormNuevoTupa
{
   height: 240px;
   width: 710px;
   background-color: ; 
   border: 1px #DCDCE6 solid;
   border-radius: 8px;
}
#MenusOficina
{
   height: 30px;
   width: 730px;
   background-color: ; 
   border: 1px black none;
   border-radius: 8px;
   margin-top: 10px;
}
#ContenedorRecibir
{
   height: 30px;
   width: 730px;
   background-color: ; 
   border: 1px black none;
   border-radius: 8px;
   margin-top: 10px;   
   text-align: left;
   margin-left: 20px;
}
#imprimir
{
   height: 470px;
   width: 730px;
   background-color: ; 
   border: 1px black none;
   border-radius: 8px;
   margin-top: 10px;   
   text-align: left;
   margin-left: 20px;
   overflow:auto;
   z-index:8;
}

#DatosRecibir
{
   height: 480px;
   width: 700px;
   background-color: ; 
   border: 1px #DCDCE6 solid;
   border-radius: 8px;
   margin-top: 10px;
}
#DatosRecibirEnOficina
{
   height: 480px;
   width: 700px;
   background-color: ; 
   border: 1px #DCDCE6 solid;
   border-radius: 8px;
   margin-top: 0px;
}
#MostrarDatosExpedientes
{
   height: 150px;
   width: 700px;
   background-color: ; 
   border: 1px #DCDCE6 solid;
   border-radius: 0px;
   margin-top: 0px;
}
#MostrarDatosExpedientesMas
{
   height: 328px;
   width: 700px;
   background-color: ; 
   border: 1px #DCDCE6 solid;
   border-radius: 0px;
   margin-top: 0px;  
}
#DetalleDerivar
{
   height: 328px;
   width: 600px;
   background-color: ; 
   border: 2px #DCDCE6 solid;
   border-radius: 0px;
   margin-top: 0px;
}
#InformacionDerivar
{
   height: 150px;
   width: 600px;
   background-color: ; 
   border: 5px #DCDCE6 solid;
   border-radius: 0px;
   margin-top: 0px;
}
#Copirigh
{
   height: 20px;
   width: 1000px;
   background-color: #DCDCE6 ; 
   border: 1px #DCDCE6 solid;
   border-radius: 8px;
   margin-top: 10px;   
   text-align: left;
   margin-left: 20px;
   color: black;
   font-family: tahoma,Calibri;
   font-size: 11pt;
}
#ControlLlegarr
{
   
}
.button
{
  color: blue;
  border: 1px #DCDCE6 solid;
  padding: 5px 75px 5px 75px;  
  font-family: Calibri;
  font-size: 15px;
  text-decoration: none;
  border-radius: 8px ;
  font-weight: bold;
  background-color: #EDEDED;
}
.Menus
{
     color: #62D14A;
     border: 1px #DCDCE6 solid;
     padding: /*10px 75px 10px 75px;*/;
     font-weight: bold;
     border-radius: 8px ;
     font-size: 19px;
     font-family: Calibri;
     margin-top: 5px;
}
.SMenus
{
     color: #62D14A;
     border: 1px black none;
     padding: /* 5px 75px 5px 75px; */;
     font-weight: bold;
     border-radius: 8px ;
     font-size: 16px;
     font-family: Calibri;
     margin-top: 5px;
}
.Sbutton
{
  color: blue;
  border: 1px #DCDCE6 solid;
  padding: 5px 40px 5px 40px;
  /*background-color: #D5ECF0;*/
  font-family: Calibri;
  font-size: 15px;
  text-decoration: none;
  border-radius: 8px ;
  font-weight: bold;
  text-align: left;
  background-color: #EDEDED;
  
}
.Sbutton1
{
  color: blue;
  border: 1px #DCDCE6 solid;
  padding: 5px 40px 5px 40px;
  /*background-color: #D5ECF0;*/
  font-family: Calibri;
  font-size: 15px;
  text-decoration: none;
  border-radius: 8px ;
  font-weight: bold;
  background-color: #EDEDED;
  
}
.Texto
{
  color: #FFFFFF;
  text-align: left;
 
}
.TextoFormulario
{
   color: #0033CC;
   font-family: Calibri;
   font-size: 11pt;
   text-align: ;
}
.TextoData
{
   color: black;
   font-family: Calibri;
   font-size: 11pt;
}
.table
{
 margin-left: 0px;
 margin-top: 10px;
}