#Contenedor
{
  max-width:1000px;*/
  margin: 0px;
  padding: 0px;
  /*background-color: #EDEDED;*/ 
}
#Cavesera
{
   display: inline-block;
   height: auto;
   /*max-width: 1000px;*/
   width: 100%;
   border-radius: 8px 8px 0px 0px;
   background-color: #066A9B;
}
#Info
{
  display: block;
   height: 50px;
   max-width: 1000px;
   text-align: right;
   color: #066A9B;
   background-color: #ECECFF;
}
#CuerpoLogin
{
  height: 400px;
  max-width: 1000px;
  border: 3px #DCDCE6 solid;
  margin-top: 0px;
  border-radius: 0px 0px 8px 8px;
}
#Logueo
{
  height: 170px;
  width: 370px;
  border: 3px #DCDCE6 solid;
  margin-top: 120px;
  border-radius: 8px;
  background-color: #EDEDED;
}
.TextoLogin
{
   font-family: Helvetica;
   font-size: 12pt;
   color: #066A9B;
   text-align: right;
   
}
.TextoLogincavesera
{
   font-family: Helvetica;
   color: #066A9B;
   font-size: 14pt;
   
}
.TextoError
{
   font-family:serif;
   font-size: 12pt;
   color: red;
   text-align: center;
   
}
h3{
  color: #FFFFFF;
  text-align: center;
}
.button{
    color: black;
    padding:3px;
    background: #FBFBFB;
    border-radius: 3px;
    border: 1px solid #919191;
}
.button:hover{
    color: #333333;
    padding: 4px;
    cursor: pointer;
    background: #F2F2F2;
    border-radius: 3px;
    border: 1px solid #5D5D5D;
}
@media screen and (max-width: 400px)
{
  #Info
  {
    display: block;
    height: auto;
  }

  #CuerpoLogin
  {
    height: auto;
    max-width: auto;
    border: 0px #DCDCE6 solid;
  }

  #Logueo
  {
    height: auto;
    width: auto;
    margin-top: 0px;
    border-radius: 0px 0px 8px 8px;
    background-color: #EDEDED;
  }
}
