<!DOCTYPE html>
<html lang='es'>
<script lenguage="javascript" type="text/javascript">
var doc=new Array();
var doc_derivar=new Array();

function activar(){
				if(document.marcar.mTodos.checked==true)
				{
					for (i=0;i<document.datos.elements.length;i++)
					{
						if(document.datos.elements[i].type == "checkbox")	
				           document.datos.elements[i].checked=1; 
					}
					//document.datos.Todos.checked=true;
					
				}
				else
				{
					for (i=0;i<document.datos.elements.length;i++) 
						{
				    	if(document.datos.elements[i].type == "checkbox")	
				           document.datos.elements[i].checked=0;
				       }
				       document.marcar.mTodos.checked=false;
				}
			}

function toogle(a,b,c)
				{
				 // document.getElementById(b).style.display=a;
				  //document.getElementById(c).style.display=a;
				  
				  //for(i=0;i<doc.length;i++) 
				  //for (var i in doc)
				 // alert("son "+doc.length+" items");
				 doc_derivar=[];
				  for (var i = 0, long = doc.length; i < long; i++)
				  {
		  			//var nombrecheck= "document.datos."+doc[i][0]+".checked";
		  			//alert("el "+i+" deberia llamarce: " + nombrecheck);
		  				//if(nombrecheck==true)
		  				chk=document.getElementsByName('che');
						for(e=0;e<chk.length;e++)
						if(chk[e].id==doc[i][0] && chk[e].checked)
					  	{
					  		//alert("entro unno")
					  		var long_der = doc_derivar.length;

				  			doc_derivar[long_der]=new Array(8);

					  		doc_derivar[long_der][0]=doc[i][0];
					  		doc_derivar[long_der][1]=doc[i][1];
					  		doc_derivar[long_der][2]=doc[i][2];
					  		doc_derivar[long_der][3]=doc[i][3];
					  		doc_derivar[long_der][4]=doc[i][4];
					  		doc_derivar[long_der][5]=doc[i][5];
					  		doc_derivar[long_der][6]=doc[i][6];
					  		doc_derivar[long_der][7]=doc[i][7];
					  	}	
				  }

				  if(doc_derivar.length==0)
				  {
				  	alert("Debe de seleccionar almenos un Documento antes de Derivar");
				  }
				  else
				  {
				  		try {
				  			//buscando tabla para eliminar
				  			document.getElementById("ventana1").innerHTML="";

				  			var contenedor = document.getElementById('ventana1'); 
							var nuevodiv = '<div>Oficina destino: <select id="oficina" name="oficina"> {% for org in oficinas %} <option value="{{org.id}}"> {{org.nombre|capfirst}} </option> {% endfor %}  </select>  Son las {{hora}} </div> ';
				 			contenedor.innerHTML += nuevodiv;							
							nuevodiv='';
							var tabla=new Array();
							var tmp='';
						  	for(i=0;i<doc_derivar.length;i++)
						  	{
						  		tmp='';
						  		tabla[i]='';
						  		tmp='<tr>';
						  		tabla[i] += tmp;
						  		tmp='<td><input type="hidden" name="hi" id="hi' +doc_derivar[i][7]+ '" value="' +doc_derivar[i][7]+'"/></td>';
						  		tabla[i] += tmp;
						  		for(j=0;j<8;j++)
						  		{
						  			if(j<7)
						  			{
						  				if(j>0)
						  				{
							  				tmp='<td>' + doc_derivar[i][j] + '</td>';
							  				tabla[i] += tmp;	
						  				}
						  			}
						  			else
						  			{
						  				tmp='<td>' + '<a href="/expediente/'+doc_derivar[i][j]+'">Detalles</a>' + '</td>';
						  				tabla[i] += tmp;
						  			}
						  		}
						  		tmp='<td> <select name="proveido" id="pro'+doc_derivar[i][7]+'"> {% for org in proveidos %} <option value="{{org.id}}"> {{org.nombre|capfirst}} </option>	{% endfor %}  </select><td>';			  		
								tabla[i] += tmp;
						  		tmp='</tr>'
						  		tabla[i] += tmp;
						  		//alert(tabla[i]);
						  	}
						  	nuevodiv='';
						  	for(i=0;i<tabla.length;i++)
						  	{
						  		nuevodiv +=tabla[i];
						  	}
					  		nuevodiv ='<div> <table id="tab1">' +nuevodiv+'</table></div><br>';
					  		contenedor.innerHTML += nuevodiv;
					  		
						  document.getElementById(b).style.display=a;
						  document.getElementById(c).style.display=a;
						  document.getElementById("ventana1").style.display=a;
						  document.getElementById("ventanaC").style.display=a;

							}
						catch(mierror){}
				  }
				}

function documentos(a,b,c,d,e,f,g,h)
				{
					var long = doc.length;
					//alert("el tamanio inicial es "+long);
				
					doc[long]=new Array(8);
				
    				doc[long][0]=a;//checkbox
    				doc[long][1]=b;//nro expediente
    				doc[long][2]=c;//nro documento
    				doc[long][3]=d;//interesado
    				doc[long][4]=e;//asunto
    				doc[long][5]=f;//oficina
    				doc[long][6]=g;//fecha
    				doc[long][7]=h;//iddocumento
				}
function cancelar(a,b,c)
				{
				  document.getElementById(b).style.display=a;
				  document.getElementById(c).style.display=a;
				  document.getElementById("ventana1").style.display=a;
				  document.getElementById("ventana2").style.display=a;
				  document.getElementById("ventana3").style.display=a;
				  document.getElementById("ventanaC").style.display=a;
				}
function imprimir(theForm)
				{
				var i; 
					//for(i=0; i<theForm.elements.length ; i++) 
					for (i=0;i<document.datos.elements.length;i++) 
					{ 
						// Agregar en esta lista de condiciones 
						// todos aquellos tipos de Input que se quieren ocultar 
						if( (theForm.elements[i].type == "submit") || 
						(theForm.elements[i].type == "a") || 
						(theForm.elements[i].type == "checkbox") ) 
						theForm.elements[i].style.visibility = 'hidden'; 
					document.all.item("PanelIzquierdo").style.visibility='hidden';
					document.all.item("MenusOficina").style.visibility='hidden';
					} 
					window.print(); 

					for(i=0; i<theForm.elements.length ; i++) 
					{ 
						if( (theForm.elements[i].type == "submit") || 
						(theForm.elements[i].type == "reset") || 
						(theForm.elements[i].type == "button") ) 
						theForm.elements[i].style.visibility = 'visible'; 
					document.all.item("noprint").style.visibility='visible';
					document.all.item("MenusOficina").style.visibility='visible';
					} 	
				}
function imprSelec()
				{
					//document.all.item("che").style.visibility='hidden';
					//document.all.item("ref").style.visibility='hidden';
					for (i=0;i<document.datos.elements.length;i++)
					{
						if(document.datos.elements[i].type == "checkbox")	
				           document.datos.elements[i].style.visibility='hidden';
					}
					var ficha=document.getElementById("Cavesera");
					var ubicacion=document.getElementById("APanelDerecho");
					var imprimirr=document.getElementById("imprimir");
					//ficha.innerHTML += imprimirr;
					var ventimp=window.open(' ','popimpr');
					ventimp.document.write(ficha.innerHTML);
					ventimp.document.write(ubicacion.innerHTML);
					ventimp.document.write(imprimirr.innerHTML);					
					ventimp.document.close();
					ventimp.print();
					ventimp.close();
					for (i=0;i<document.datos.elements.length;i++)
					{
						if(document.datos.elements[i].type == "checkbox")	
				           document.datos.elements[i].style.visibility='visible';
					}
				}

function archivar(a,b,c)
				{
					doc_derivar=[];
				  for (var i = 0, long = doc.length; i < long; i++)
				  {
		  			//var nombrecheck= "document.datos."+doc[i][0]+".checked";
		  			//alert("el "+i+" deberia llamarce: " + nombrecheck);
		  				//if(nombrecheck==true)
		  				chk=document.getElementsByName('che');
						for(e=0;e<chk.length;e++)
						if(chk[e].id==doc[i][0] && chk[e].checked)
					  	{
					  		//alert("entro unno")
					  		var long_der = doc_derivar.length;

				  			doc_derivar[long_der]=new Array(8);

					  		doc_derivar[long_der][0]=doc[i][0];
					  		doc_derivar[long_der][1]=doc[i][1];
					  		doc_derivar[long_der][2]=doc[i][2];
					  		doc_derivar[long_der][3]=doc[i][3];
					  		doc_derivar[long_der][4]=doc[i][4];
					  		doc_derivar[long_der][5]=doc[i][5];
					  		doc_derivar[long_der][6]=doc[i][6];
					  		doc_derivar[long_der][7]=doc[i][7];
					  	}	
				  }

				  if(doc_derivar.length==0)
				  {
				  	alert("Debe de seleccionar almenos un Documento antes de Archivar");
				  }
				  else
				  {
				  		try {
				  			//buscando tabla para eliminar
				  			document.getElementById("ventana3").innerHTML="";

				  			var contenedor = document.getElementById('ventana3'); 
							var nuevodiv = '';
				 			contenedor.innerHTML += nuevodiv;							
							nuevodiv='';
							var tabla=new Array();
							var tmp='';
						  	for(i=0;i<doc_derivar.length;i++)
						  	{
						  		tmp='';
						  		tabla[i]='';
						  		tmp='<tr>';
						  		tabla[i] += tmp;
						  		tmp='<td><input type="hidden" name="hi" id="hi' +doc_derivar[i][7]+ '" value="' +doc_derivar[i][7]+'"/></td>';
						  		tabla[i] += tmp;
						  		for(j=0;j<8;j++)
						  		{
						  			if(j<7)
						  			{
						  				if(j>0)
						  				{
							  				tmp='<td>' + doc_derivar[i][j] + '</td>';
							  				tabla[i] += tmp;	
						  				}
						  			}
						  			else
						  			{
						  				tmp='<td>' + '<a href="/expediente/'+doc_derivar[i][j]+'">Detalles</a>' + '</td>';
						  				tabla[i] += tmp;
						  			}
						  		}
						  		
						  		tmp='</tr>';
						  		tabla[i] += tmp;
						  		//alert(tabla[i]);
						  	}
						  	nuevodiv='';
						  	for(i=0;i<tabla.length;i++)
						  	{
						  		nuevodiv +=tabla[i];
						  	}
					  		nuevodiv ='<div> <table id="tab2">' +nuevodiv+'</table></div><br>';
					  		contenedor.innerHTML += nuevodiv;
					  		
						  document.getElementById(b).style.display=a;
						  document.getElementById(c).style.display=a;
						  document.getElementById("ventana2").style.display=a;
						  document.getElementById("ventana3").style.display=a;
						  document.getElementById("ventanaC").style.display=a;
							}
						catch(mierror){}
				  }
				}
</script>

  	<head>
	<title>Bandeja-Tramite documentario</title>
	<meta charset='utf-8'>
	</head>
	<body>
	  	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/modal.css">
	  	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">
		<center>
			<div id="Contenedor">
				<div id = "Cavesera">
					  <h3 class = "Texto"><img src='{{MEDIA_URL}}{{organizacion.logo}}' align="left"> SISTEMA DE TRAMITE DOCUMENTARIO<BR>
					  	{{organizacion.nombre|title}}</h3>
				</div>
				<div id = "Info">
					<h4>
						<img src="{{ STATIC_URL }}Imagenes/usuario.png">{{NombreUsuario}}      <img src="{{ STATIC_URL }}Imagenes/oficina.png">{{NombreOficina}}
						<a href="/LogueoSalir">    
							<ACRONYM title=" Salir del sistema"><img src="{{ STATIC_URL }}Imagenes/logout.png"></ACRONYM>
						</a>
					</h4>
				</div>
				<div id="PanelIzquierdo">
					<center>
						<div id="ContenedorMenu">
							 <p class="Menus">Opciones </p>
						</div>             
						<div id="Opciones"><br>
							<a href="/expediente/nuevo" class="button">Nuevo</a>
							<br>
							<div id = "Expedientes">
							   <p class="SMenus">EXPEDIENTES</p>
							   <a href="/" class="Sbutton">En Oficina</a><br><br>
							   <a href="/bandeja" class="Sbutton">Por Llegar</a><br><br>
							   <a href="/archivados" class="Sbutton">Archivados</a><br><br>
							</div>
							<div id="Reportes">
							   <p class="SMenus">Reportes</p>
							   <a href="/reportes/" class="Sbutton">Reportes</a>
							</div> 
							<form action='/buscar/' name="buscar" method="GET">
								<div>
								   <p class="SMenus">Codigo y/o Interesado</p>
								   <br>
								   <input type="text" name="b" id="b"></input>
								   <input type="submit" value="BUSCAR" class="Sbutton"></input>
								</div>
							</form>                  
						</div>
						<div id="menuAdmin">
							<ul class="menu2">
							    <li><a href="#">INSTITUCION</a>
							      <ul>
							        <li><a href="/TrabajadorControl">Trabajadores</a></li>
							        <li><a href="/OficinaControl">Oficinas</a></li>
							        <li><a href="/organizacion">Institucion</a></li>
							      </ul>
							    </li>
							 
							    <li><a href="#">TUPA</a>
							      <ul>
							        <li><a href="/tupa">Tupa</a></li>
							        <li><a href="/tupa/requisitos">Requisitos</a></li>
							      </ul>
							    </li>
							 
							    <li><a href="#">EXPEDIENTE</a>
							       <ul>
							         <li><a href="/proveidos">Proveidos</a></li>
							         <li><a href="/expediente/tipos">Tipos</a></li>
							      </ul>
							   	</li>
							</ul>
						</div>
					</center>
				</div>
			</div>
			<div id="PanelDerecho">
				<center>
						 <div id="APanelDerecho">
							 <p class="Menus">Expedientes en mi Oficina, hora: {{fecha}}</p>
						 </div>
						 <div id="BPanelDerecho">
							<div id = "MenusOficina">
								 <form name="marcar"> 
									 <input type="checkbox"  id="mTodos" name="mTodos" onclick="activar()">Todos</input>
									 <input type="button" value="DERIVAR" class="Sbutton" onclick="toogle('block','modal','ventana')"></input>
									 <input type="button" value="ARCHIVAR" class="Sbutton" onclick="archivar('block','modal2','ventana2')"></input>
									 <a href="" class ="Sbutton">ADJUNTAR</a>               
									 <input type="button" value="IMPRIMIR" class="Sbutton" onclick="imprSelec()"></input>
								 </form> 
							</div>
							
							<form name="datos" method="get">
								<div id="imprimir" >
									<table class="table" width="700" border="0" >
										<tr class="TextoFormulario">
											<th scope="col"></th>
											<th scope="col">Codigo</th>
											<th scope="col">Nro Doc</th>
											<th scope="col">Presentado por</th>
											<th scope="col">Asunto</th>
											<th scope="col">Destino</th>
											<th scope="col">Fecha</th>
											<th scope="col">Detalles</th>
										</tr>
										
										{% for elemento in lista %}
										<tr class="TextoData">
											<td width="50"><input type="checkbox" name="che" id="che{{elemento.id}}"><br></td>
											<td width="70">{{elemento.nro_exp}}</td>
											<td width="100">{{elemento.nro_doc}}</td>
											<td width="150">{{elemento.interesado}}</td>
											<td width="100">{{elemento.asunto}}</td>
											<td width="100">{{elemento.oficina.nombre}}</td>	    	
											<td width="80">{{elemento.f_registro}}</td>
											<td width="50"><a href="/expediente/{{elemento.id}}" name="ref">Detalles</a></td>

											<script type="text/javascript">
												documentos("che{{elemento.id}}","{{elemento.nro_exp}}","{{elemento.nro_doc}}","{{elemento.interesado}}","{{elemento.asunto}}","{{elemento.oficina.nombre}}","{{elemento.f_registro}}","{{elemento.id}}");
											</script>
										</tr>
										{% endfor %}
									</table>
								</div>
							</form>
							<form action='/derivar/' method="POST"> {% csrf_token %}
								<div id="modal" style="display:none">
									<div id="ventana" class="contenedor" style="display:none">
										 <h2>DERIVAR EXPEDIENTE</h2> 
										 <a href="#close" title="Cerrar" onclick="cancelar('none','modal','ventana')">Close</a>
										<div id="ventana1" class="contenedor1" style="display:none">
										
										</div><br>
										Comentario
										<div id="ventanaC">
											<textarea id="" name="comentarioA" rows="5" cols="30"></textarea>
											
										</div>
										<input type="submit" value="DERIVAR"></input>
										<input type="button" value="CANCELAR" onclick=cancelar("none","modal","ventana")></input>
									</div>
								</div>
							</form>	
							<form action='/archivar/' method="POST"> {% csrf_token %}
								<div id="modal2" style="display:none">
									<div id="ventana2" class="contenedor" style="display:none">
										 <h2>ARCHIVAR EXPEDIENTE</h2> 
										 <a href="#close" title="Cerrar" onclick="cancelar('none','modal2','ventana2')">Close</a>
										<div id="ventana3" class="contenedor" style="display:none">
										
										</div><br>
										Comentario
										<div id="ventanaC">
											<textarea id="comentarioA" name="comentarioA" style="margin: 2px; width: 500px; height: 60px;"></textarea>
										</div>
										<input type="submit" value="ARCHIVAR"></input>
										<input type="button" value="CANCELAR" onclick=cancelar("none","modal2","ventana2")></input>
									</div>
								</div>
							</form>
							
						</div>
											
				</center>
			</div>
			<div id="Copirigh">
				Copyright <a href="http://www.sigmadelsur.com"></a> Sigmadelsur © 2013 Todos Los Derechos Reservados
			</div>	
		</center>
	</body>
</html>