{% load static %}
<!DOCTYPE html>
<html lang='es'>
   <head>
       <title> Login Sistema </title>
       <link rel="shortcut icon" href="{{ STATIC_URL }}Imagenes/favicon.ico"/>
      <link rel="stylesheet" type="text/css" href="{% static "css/estilousuario.css" %}">
   </head>
   <body>
   <center>

      <div id="Contenedor">
          <div id = "Cavesera">
            <h3>SISTEMA DE TRAMITE DOCUMENTARIO</h3>
          </div>
          <div id = "Info">
            <form action='/buscar/' name="buscar" method="GET">
                <div>
                   Codigo y/o Interesado:
                   <input type="text" name="b" id="b"></input>
                   <input type="submit" value="BUSCAR" class="button"></input>
                </div>
              </form>
          </div>
          <div id="CuerpoLogin">
               <div id="Logueo">
                   <table border="0">
                     <form name = "FormLogin" action='/Logueo/' method='POST'>{% csrf_token %}
                      <tr>
                           <td colspan = "2">
                             <center class="TextoLogincavesera">Control De Acceso Al Sistema </center>
                           </td>
                      </tr>
                      <tr>
                            <td class="TextoLogin">
                                 Usuario
                            </td>
                            <td>
                                {{ Form.Usuario }}
                            </td>
                      </tr>
                      <tr>
                            <td class="TextoLogin">
                                 Password
                            </td>
                            <td>
                                 {{ Form.Contrasena }}
                            </td>
                      </tr>
                      <tr>
                            <td colspan="2">
                                <center> <input type="submit" class="button" value='Ingresar'> </center>
                            </td>
                      </tr>
                      <tr>
                        <td colspan = "2" class="TextoError">
                           {{ Info }}
                        <td/>
                      </tr>
                     </form>
                   </table>
               </div>
          </div>
      </div>
   </center>
   </body>
</html>
