<!DOCTYPE html>
<html lang='es'>
<script lenguage="javascript">
var doc=new Array();
var doc_derivar=new Array();
function toogle(a,b,c)
				{
				 // document.getElementById(b).style.display=a;
				  //document.getElementById(c).style.display=a;
				  
				  //for(i=0;i<doc.length;i++) 
				  //for (var i in doc)
				 // alert("son "+doc.length+" items");
				 doc_derivar=[];
				  for (var i = 0, long = doc.length; i < long; i++)
				  {
		  			//var nombrecheck= "document.datos."+doc[i][0]+".checked";
		  			//alert("el "+i+" deberia llamarce: " + nombrecheck);
		  				//if(nombrecheck==true)
		  				chk=document.getElementsByName('che');
						for(e=0;e<chk.length;e++)
						if(chk[e].id==doc[i][0] && chk[e].checked)
					  	{
					  		//alert("entro unno")
					  		var long_der = doc_derivar.length;

				  			doc_derivar[long_der]=new Array(8);

					  		doc_derivar[long_der][0]=doc[i][0];
					  		doc_derivar[long_der][1]=doc[i][1];
					  		doc_derivar[long_der][2]=doc[i][2];
					  		doc_derivar[long_der][3]=doc[i][3];
					  	}	
				  }

				  if(doc_derivar.length==0)
				  {
				  	alert("Debe de seleccionar almenos un Documento antes de Derivar");
				  }
				  else
				  {
				  		try {
				  			//buscando tabla para eliminar
				  			document.getElementById("ventana1").innerHTML="";

				  			var contenedor = document.getElementById('ventana1'); 
							var nuevodiv = '<div>Procedimiento(TUPA): {{tupa.denominacion}}</div> ';
				 			contenedor.innerHTML += nuevodiv;							
							nuevodiv='<td><input type="hidden" name="hi" id="' +{{tupa.id}}+ '" value="' +{{tupa.id}}+'"/></td>';
							contenedor.innerHTML += nuevodiv;
							var tabla=new Array();
							var tmp='';
						  	for(i=0;i<doc_derivar.length;i++)
						  	{
						  		tmp='';
						  		tabla[i]='';
						  		tmp='<tr>';
						  		tabla[i] += tmp;
						  		for(j=0;j<2;j++)
						  		{
						  			if(j==0)
						  			{
						  				tmp='<td><input type="hidden" name="che" value="' +doc_derivar[i][0]+'"</td>';
					  					tabla[i] += tmp;		
						  			}
						  			else
						  			{
						  				tmp='<td>' + doc_derivar[i][j] + '</td>';
						  				tabla[i] += tmp;	
						  			}
						  		}						  		
						  		tmp='</tr>'
						  		tabla[i] += tmp;
						  		//alert(tabla[i]);
						  	}
						  	nuevodiv='';
						  	for(i=0;i<tabla.length;i++)
						  	{
						  		nuevodiv +=tabla[i];
						  	}
					  		nuevodiv ='<div> <table id="tab1">' +nuevodiv+'</table></div><br>';
					  		contenedor.innerHTML += nuevodiv;
					  		
						  document.getElementById(b).style.display=a;
						  document.getElementById(c).style.display=a;
						  document.getElementById("ventana1").style.display=a;

							}
						catch(mierror){}
				  }
				}

function documentos(a,b,c,d)
				{
					var long = doc.length;
					//alert("el tamanio inicial es "+long);
				
					doc[long]=new Array(4);
				
    				doc[long][0]=a;//checkbox
    				doc[long][1]=b;//nro expediente
    				doc[long][2]=c;//nro documento
    				doc[long][3]=d;//interesado
				}

function imprSelec()
				{
					//document.noimprimir.btnImprimir.style.visibility='hidden';
					var ficha=document.getElementById("Cavesera");
					var ubicacion=document.getElementById("APanelDerecho");
					//var detalle=document.getElementById("MostrarDatosExpedientes"); btnImprimir
					var imprimirr=document.getElementById("DatosRecibirEnOficina");
					//ficha.innerHTML += imprimirr;
					var ventimp=window.open(' ','popimpr');
					ventimp.document.write(ficha.innerHTML);
					ventimp.document.write(ubicacion.innerHTML);
					//ventimp.document.write(detalle.innerHTML);
					ventimp.document.write(imprimirr.innerHTML);					
					ventimp.document.close();
					ventimp.print();
					ventimp.close();
					//document.noimprimir.btnImprimir.style.visibility='visible';
				}

function cancelar(a,b,c)
				{
				  document.getElementById(b).style.display=a;
				  document.getElementById(c).style.display=a;
				  document.getElementById("ventana1").style.display=a;
				 
				}
</script>

  	<head>
	<title>Bandeja-Tramite documentario</title>
	<meta charset='utf-8'>
	</head>
	<body>
	  	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/modal.css">
	  	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css">
		<center>
			<div id="Contenedor">
				<div id = "Cavesera">
					 <h3 class = "Texto"><img src='{{MEDIA_URL}}{{organizacion.logo}}' align="left"> SISTEMA DE TRAMITE DOCUMENTARIO<BR>
					  	{{organizacion.nombre|title}}</h3>
				</div>
				<div id = "Info">
				</div>
				<div id="PanelIzquierdo">
					<center>
						<div id="ContenedorMenu">
							 <p class="Menus">Opciones </p>
						</div>             
						<div id="Opciones"><br>
							<a href="NuevoExpediente.html" class="button">Nuevo</a>
							<br>
							<div id = "Expedientes">
							   <p class="SMenus">EXPEDIENTES</p>
							   <a href="/" class="Sbutton">En Oficina</a><br><br>
							   <a href="/bandeja" class="Sbutton">Por Llegar</a><br><br>
							   <a href="/archivados" class="Sbutton">Archivados</a><br><br>
							</div>
							<div id="Reportes">
							   <p class="SMenus">Reportes</p>
							   <a href="" class="Sbutton">Reportes</a>
							</div> 
							<form action='/buscar/' name="buscar" method="GET">
								<div>
								   <p class="SMenus">Codigo y/o Interesado</p>
								   <br>
								   <input type="text" name="b" id="b"></input>
								   <input type="submit" value="BUSCAR"></input>
								</div>
							</form>                 
						</div>
					</center>
				</div>
			</div>
			<div id="PanelDerecho">
				<center>
						 <div id="APanelDerecho">
							 <p class="Menus">DETALLE EXPEDIENTE</p>
						 </div>
						 <div id="BPanelDerecho">
							<div id = "MenusOficina">
								<a href="#" class ="Sbutton" onclick="toogle('block','modal','ventana')">Vincular</a>
						    	<a href="" class ="Sbutton" onclick="imprSelec()">Imprimir</a> 
							</div>
							<form id="noimprimir" method="GET">
								<div id="DatosRecibirEnOficina">
				                   <div id="MostrarDatosExpedientes">
				                      <table border="0" class="table" width="700" height="143">
				                         <tr>
				                            <td class="TextoFormulario">
				                               Denominacion: 
				                            </td>
				                            <td>
				                               {{tupa.denominacion}}
				                            </td>				                            
				                         </tr>  
				                      </table>
				                   </div>
				                   <div id="MostrarDatosExpedientesMas">
				                      <table border ="0" class="table" width="700" height="30">
				                            <tr>
									    		<th class="TextoFormulario" scope="col"></th>
									    		<th scope="col">Requisito</th>
									    	</tr>
				                          	{% for requi in requisitos %}
											<tr>
												<td><input type="checkbox" id="{{requi.id}}" name="che"> </td>
												<td>{{requi.requisito}}</td>												
											</tr>

											<script type="text/javascript">
												documentos("{{requi.id}}","{{requi.requisito}}","{{tupa.id}}","{{tupa.denominacion}}");
											</script>
											{% endfor %}
				                      </table>
				                   </div>				                   
				               </div>
			               </form>
			               <form action='/tupa/vincular/editarguardar' method="POST"> {% csrf_token %}
								<div id="modal" style="display:none">
									<div id="ventana" class="contenedor" style="display:none">
										 <h2>DERIVAR EXPEDIENTE</h2> 
										 <a href="#close" title="Cerrar" onclick="cancelar('none','modal','ventana')">Close</a>
										 <input type="hidden" id="{{tupa.id}}" name="tupa" value="{{tupa.id}}">
										<div id="ventana1" class="contenedor1" style="display:none">
										
										</div>
										<input type="submit" value="VINCULAR"></input>
										<input type="button" value="CANCELAR" onclick=cancelar("none","modal","ventana")></input>
									</div>
								</div>
							</form>	
						</div>						
				</center>
			</div>
		</center>
	</body>
</html>